.container {
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    color: maroon ;
    font-family: 'Amatic SC';
    text-align: center;
    width: 1250px;
    height: 850px;
}

body {
    background-image: url('img/EUGvw9_R.jpg');
}

#blog h1 {
	font-family: 'Amatic SC';
}

h1 {
    font-family: 'Amatic SC';
    font-size: 30px;
}

p {
    font-family: 'Courgette';
    font-size: 20px;
}

main {
    text-align: center;
}

#header a {
    display: inline-block;
    color: maroon ;
    border: 5px solid #800000 ;
    font-size: 60px;
    margin: 0 auto;
    width: 1220px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    border-radius: 30px;
    font-family: 'Amatic SC';
}

section p a {
    color: #800000 }

section p a:hover {
    color: #800000 ;
    font-weight: bold;
}

section img {
    border-radius: 50px;
    padding: 20px;
    width: 300px;
}

.social a {
    float: center;
    font-family: 'Amatic SC';
    color: #800000 ;
    padding: 8px;
    font-size: 30px;
}

nav ul {
    padding: left;
    color: #800000 ;
    font-size: 20px
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px
}

nav ul li a {
    font-family: 'Courgette';
    text-decoration: none;
    font-size: 20px;
    color: #800000 ;
}

nav ul li a:hover {
    color: #800000 ;
}

section a {
    color: #800000 ;
}

section a:hover {
    color: #800000 ;
    font-weight: bold;
}

#hero img {
    width: 1250px;
    border-radius: 50px;
}

span {
    color: #800000 ;
}

article p {
    text-align: center;
}

article a {
    color: #800000 ;
}

article a:hover {
    color: #800000;
    font-weight: bold;
}

footer p {
    text-align: center;
    font-size: 15px;
}

#blog article ul {
	font-family: 'Courgette';
}